*/**/*.bak
*/**/*.back
~
#scripts/.local
scripts/.local/bin/velero
!scripts/.local/bin
scripts/.local/bin/oh-my-posh
node_modules
package.json
package-lock.json
*.pid
vpn
scripts/.local/bin/oh-my-posh
scripts/.local/bin/oh-my-posh
history*
*.db
__pycache__
