* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #f6f7fc;
}

tooltip {
    background: #000000;
    color: #fff;
}

tooltip label{
    color: #a6e3a1;
}

#workspaces button {
    padding: 5px;
    color: #f6f7fc;
    margin-right: 5px;
}

#workspaces button.active {
    color: #000000;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
}

#custom-notification,
#custom-power,
#custom-pomorodo,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#backlight {
    background: rgba(21, 18, 27, 0);
    opacity: 0.8;
    padding: 0px 3px;
    margin: 0px 3px;
    border: 0px;
}

#temperature.critical {
    color: #e92d4d;
}


#workspaces {
    padding-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#custom-pomodoro.working {
    color: green;
}

#custom-pomodoro.break {
    color: red;
}

#custom-update.warning{
    color: red;
}
